
@import url('http://fonts.googleapis.com/css?family=Roboto:400,900,100');
$font: 'Roboto', sans-serif; 
$background-img: url("../images/bg.gif");
$white-color: #FFF;
$logo-img: url("../images/logo.png");
$red-color: #E65C43;
$red2-color: #F25C43;
$light-grey-color: #666;
$off-white-color: #F5F6F6;
$dark-grey-color: #30353D;
$social-media-img: url("../images/social-media.png");
$large-screen: 959px;
$small-screen: 459px;
$medium-screen: 767px;